/*
. = class
# = id
 = element
 */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html{
    background-color:#eedfcc;
}
body {
    padding-left: 5px;
    padding-right:5px;
    margin-left:auto;
    margin-right:auto;
    background-color: #fdf5e6;
}
@media only screen and (min-width: 1125px){
    body {
        max-width:1090px;
    }
    .batt-game{
        width:725px;
        float:right;
        padding-left:10px;
    }
    #info-message-div{
        width:355px;
        height:764.72px;/*same as svg */
    }
    #info-message-div textarea{
        width:345px;
    }
    .tab-players {
        width:50%;
        float:right;
    }
    .tab-invites{
        width:50%;
        height:488.81px;/*same as tab-players (button) */
    }
}
@media only screen and (max-width: 1124px){
    body {
        max-width:800px;
        min-width:705px;
    }
    #info-message-div{
        overflow:hidden;/*avoid margin colapse*/
        margin-bottom:10px;
    }
    #info-message-div textarea{
        max-width:345px;
    }
    #info-div {
        width:50%;
        float:right;
    }
    #message-div{
        width:50%;
        float:left;
    }
}
input[type=text],input[type=password]{
    background-color:#fffaf0;
}
.invalid-text{
    color:red
}
.login table{
    margin-left:auto;
    margin-right:auto;
}
.login button{
    margin-right: 5px;
}
.public_fixedDataTable_main{
    margin-left:auto;
    margin-right:auto;
}
textarea {
    background-color:#fffaf0;
}

#info-message-div textarea{
    font-size:small;
}
textarea:read-only{
    background-color:#faebd7;
}


svg{
    border:5px solid #000000;
}
.disconnected svg{
    border-color:#ff0000;
}
svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}
h1{
    text-align: center;
}
#batt-guide{
    text-align:left;
}
.svg-button-background{
    fill:#fdf5e6;
}
button {
    margin-left:5px;
    margin-right:5px;
}
.batt-game .sub-panel textarea{
    vertical-align:bottom;
}
.h2-button {
    margin-bottom:0.83em;
    margin-top:0.83em;
    font-size:1.3em;
}
